a,
a:hover,
a:focus,
.widget-area > .widget.widget_rss ul li .rss-date:before,
.widget-area > .widget.widget_archive ul li a:hover,
.widget-area > .widget.widget_categories ul li a:hover,
.widget-area > .widget.widget_meta ul li a:hover,
.widget-area > .widget.widget_pages ul li a:hover,
.widget-area > .widget.widget_nav_menu ul li a:hover,
.widget-area > .widget.widget_bizcorp_business_contact_box_widget ul.contact li:before,
.post.style-default .entry-main .post-read-more .btn,
.page.style-default .entry-main .post-read-more .btn,
.tribe_events.style-default .entry-main .post-read-more .btn,
.testimonial.style-default .entry-main .post-read-more .btn,
.team.style-default .entry-main .post-read-more .btn,
.portfolio.style-default .entry-main .post-read-more .btn,
.case-studies.style-default .entry-main .post-read-more .btn,
.client.style-default .entry-main .post-read-more .btn,
.product.style-default .entry-main .post-read-more .btn,
.footer_navigation ul.menu li a:hover,
.footer_navigation ul.menu li.current-menu-item a,
.footer_copyright_item ul.social li a:hover,
.post.style-one .post-meta > span i,
.post.style-two .entry-main .post-meta > span i,
.post.style-three .entry-main .post-meta > span i,
.post.style-default .entry-main .entry-meta > .holder > .data .meta > span i,
.post.single-post .entry-header .entry-meta > .holder > .data .meta > span i,
body.rt-coming-soon.coming-soon-style-two .comingsoon_main .comingsoon-counter > .time,
.default-page ul:not(.contact) > li:before,
.comment-content ul:not(.contact) > li:before,
.rt-shop-box > .holder > .data .price,
.radiantthemes-event-list-item-data ul.event-list-meta > li i,
.team.element-one .team-item > .holder > .data h5,
.team.element-one .team-item > .holder:hover > .data ul.social li a i,
.team.element-three .team-item > .holder > .data p,
.team.element-four .team-item > .holder > .data p,
.team.element-five .team-item > .holder > .pic > .overlay p,
.team.element-seven .team-item > .holder > .data p,
.team.element-eight .team-item > .holder > .data p.designation,
.team.element-nine .team-item > .holder > .data p.designation,
.team.element-ten .team-item > .holder > .pic > .overlay .data p.designation,
.blog.element-one .blog-item > .holder > .author p a,
.blog.element-five .blog-item > .holder .data ul.meta li i,
.blog.element-five .blog-item > .holder .data .btn,
.blog.element-six .blog-item > .holder .data .btn,
.blog.element-seven .blog-item > .holder > .meta ul li i,
.blog.element-eight .blog-item > .holder .data ul.meta li,
.blog.element-eight .blog-item > .holder .data ul.meta li a,
.our-story-timeline.element-one .post-timeline-item .icon i,
.our-story-timeline.element-one .post-timeline-item .data ul.post-meta li,
.rt-tab.element-three > ul.nav-tabs > li > a:hover,
.rt-tab.element-three > ul.nav-tabs > li.active > a
.rt-tab.element-four > ul.nav-tabs > li > a,
.rt-accordion.element-two .rt-accordion-item > .rt-accordion-item-title > .panel-title,
.rt-accordion.element-three .rt-accordion-item > .rt-accordion-item-title > .rt-accordion-item-title-icon > .holder i,
.rt-accordion.element-three .rt-accordion-item > .rt-accordion-item-title > .panel-title,
.rt-fancy-text-box.element-one > .holder > .title > .icon i,
.rt-fancy-text-box.element-two > .holder > .icon i,
.rt-list ul li:before,
.rt-pricing-table.element-two > .holder > .title h5,
.rt-pricing-table.element-three > .holder > .title h5 strong,
.rt-pricing-table.element-three.spotlight > .holder:after,
.rt-pricing-table.element-three > .holder > .data .btn-hover,
.rt-pricing-table.element-five.spotlight > .holder > .title h5,
.rt-portfolio-box-filter.filter-style-one > button.current-menu-item,
.rt-portfolio-box-filter.filter-style-two > button.current-menu-item,
.rt-portfolio-box-filter.filter-style-three > button.current-menu-item{
	color:#fe3b30; /* main color */
}

.nicescroll-cursors,
.scrollup,
.pagination > *.current,
.woocommerce nav.woocommerce-pagination ul li span.current,
.widget-area > .widget .tagcloud > [class*='tag-link-']:hover,
.widget-area > .widget.widget_price_filter .ui-slider .ui-slider-range,
.widget-area > .widget.widget_price_filter .ui-slider .ui-slider-handle,
.post.style-default .entry-main .post-read-more .btn:hover,
.page.style-default .entry-main .post-read-more .btn:hover,
.tribe_events.style-default .entry-main .post-read-more .btn:hover,
.testimonial.style-default .entry-main .post-read-more .btn:hover,
.team.style-default .entry-main .post-read-more .btn:hover,
.portfolio.style-default .entry-main .post-read-more .btn:hover,
.case-studies.style-default .entry-main .post-read-more .btn:hover,
.client.style-default .entry-main .post-read-more .btn:hover,
.product.style-default .entry-main .post-read-more .btn:hover,
.radiantthemes-search-form .form-row button[type=submit],
.rt-button.element-one > .rt-button-main,
.nav > [class*='menu-'] > ul.menu > li:before,
.rt-megamenu-widget ul.menu > li:before,
.footer_main_item ul.social li a:hover,
.footer_main_item .widget-title:before,
.post.style-two .entry-main .post-read-more .btn,
.post.style-three .entry-main .post-read-more .btn,
.comments-area .comment-form > p button[type=submit]:before,
.comments-area .comment-form > p button[type=reset]:before,
.error_main .btn:before,
.maintenance_main .maintenance-progress > .maintenance-progress-bar,
.maintenance_main .maintenance-progress > .maintenance-progress-bar > .maintenance-progress-percentage > span,
.default-page blockquote,
.comment-content blockquote,
.rt-shop-box > .holder > .onsale,
.shop_single > .product > .woocommerce-tabs > ul.tabs > li > a:before,
.woocommerce div.product form.cart .button,
.woocommerce div.product form.cart .button:hover,
.woocommerce #respond input#submit,
.woocommerce #respond input#submit:hover,
.woocommerce input.button[name="apply_coupon"],
.woocommerce button.button[name="update_cart"],
.woocommerce button.button[name="update_cart"]:disabled,
.woocommerce button.button[name="update_cart"]:hover,
.woocommerce input.button:disabled:hover,
.woocommerce input.button:disabled[disabled]:hover,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover,
.woocommerce form .form-row input.button,
.woocommerce form .form-row input.button:hover,
.woocommerce form.checkout_coupon .form-row .button,
.woocommerce #payment #place_order,
#tribe-bar-form .tribe-bar-submit input[type="submit"],
.tribe-events-calendar div[id*="tribe-events-daynum-"],
.tribe-events-calendar td.tribe-events-past div[id*="tribe-events-daynum-"],
.tribe-events-calendar td.tribe-events-othermonth.tribe-events-future div[id*="tribe-events-daynum-"],
.radiantthemes-event-list-item-button .btn,
.radiant-contact-form .form-row input[type=submit],
.radiant-contact-form .form-row input[type=button],
.radiant-contact-form .form-row button[type=submit],
.team.element-one .team-item > .holder:hover > .data,
.team.element-five .team-item > .holder > .data:before,
.team.element-seven .team-item > .holder > .data:before,
.blog.element-two .blog-item > .holder > .title > .date,
.blog.element-three .blog-item > .holder .data:before,
.blog.element-five .blog-item > .holder > .date,
.blog.element-seven .blog-item > .holder > .title > .date,
.our-story-timeline.element-one .post-timeline-item .date p,
.rt-tab.element-two > ul.nav-tabs > li > a:hover,
.rt-tab.element-two > ul.nav-tabs > li.active > a,
.rt-tab.element-three > ul.nav-tabs > li > a:before,
.rt-accordion.element-two .rt-accordion-item.rt-active > .rt-accordion-item-title > .rt-accordion-item-title-icon > .holder,
.rt-pricing-table.element-one > .holder > .data,
.rt-pricing-table.element-two.spotlight > .holder > .title:before,
.rt-pricing-table.element-two.spotlight > .holder > .title:after,
.rt-pricing-table.element-two > .holder > .title h4:before,
.rt-pricing-table.element-two.spotlight > .holder > .data .btn,
.rt-pricing-table.element-three.spotlight > .holder,
.rt-pricing-table.element-five.spotlight > .holder:after,
.rt-pricing-table.element-five > .holder > .data .btn{
	background-color:#fe3b30; /* main color */
}

.rt-shop-box > .holder > .pic > .action-buttons > .button,
.rt-shop-box > .holder > .pic > .action-buttons > .added_to_cart,
.team.element-four .team-item > .holder > .pic > .overlay,
.team.element-twelve .team-item > .holder > .pic > .data,
.rt-portfolio-box.element-one .rt-portfolio-box-item > .holder > .title,
.rt-portfolio-box.element-one .rt-portfolio-box-item > .holder > .data,
.rt-portfolio-box.element-two .rt-portfolio-box-item > .holder > .pic > .title > .table,
.rt-portfolio-box.element-two .rt-portfolio-box-item > .holder > .pic > .data > .table,
.rt-ihover.element-one > .holder > .data,
.rt-ihover.element-two > .holder > .overlay,
.rt-ihover.element-three > .holder > .overlay,
.rt-ihover.element-four > .holder > .data,
.rt-ihover.element-five > .holder > .data,
.rt-ihover.element-six > .holder > .data,
.rt-ihover.element-seven > .holder > .data,
.rt-ihover.element-nine > .holder > .data{
	background-color:rgba(254,59,48,0.8); /* main color */
}

.footer_main_item ul.social li a:hover,
.pagination > *.current,
.woocommerce nav.woocommerce-pagination ul li span.current,
.widget-area > .widget .search-form input[type=search]:focus,
.widget-area > .widget select:focus,
.post.style-default .entry-main .post-read-more .btn,
.page.style-default .entry-main .post-read-more .btn,
.tribe_events.style-default .entry-main .post-read-more .btn,
.testimonial.style-default .entry-main .post-read-more .btn,
.team.style-default .entry-main .post-read-more .btn,
.portfolio.style-default .entry-main .post-read-more .btn,
.case-studies.style-default .entry-main .post-read-more .btn,
.client.style-default .entry-main .post-read-more .btn,
.product.style-default .entry-main .post-read-more .btn,
.comments-area .comment-form > p input[type=text]:focus,
.comments-area .comment-form > p input[type=email]:focus,
.comments-area .comment-form > p input[type=tel]:focus,
.comments-area .comment-form > p input[type=url]:focus,
.comments-area .comment-form > p input[type=password]:focus,
.comments-area .comment-form > p input[type=date]:focus,
.comments-area .comment-form > p input[type=time]:focus,
.comments-area .comment-form > p select:focus,
.comments-area .comment-form > p textarea:focus,
.comments-area .comment-form > p button[type=submit],
.comments-area .comment-form > p button[type=reset],
.rt-shop-box.style-two > .holder > .pic > .data,
.woocommerce #review_form #respond textarea:focus,
.woocommerce form .form-row input.input-text:focus,
.woocommerce form .form-row textarea:focus,
.team.element-one .team-item > .holder:hover > .data,
.select2-container .select2-selection:hover,
.rt-tab.element-two > ul.nav-tabs > li > a:hover,
.rt-tab.element-two > ul.nav-tabs > li.active > a,
.rt-pricing-table.element-three > .holder > .list ul li:before,
.rt-pricing-table.element-three > .holder > .data .btn{
	border-color:#fe3b30; /* main color */
}

.maintenance_main .maintenance-progress > .maintenance-progress-bar > .maintenance-progress-percentage > span:before,
.blog.element-four .blog-item > .holder .data .btn{
	border-top-color:#fe3b30; /* main color */
}

.radiant-contact-form.element-two .form-row .wpcf7-form-control-wrap:before,
.blog.element-four .blog-item > .holder .data .btn{
	border-bottom-color:#fe3b30; /* main color */
}